name: build-windows

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build exe with PyInstaller
        env:
          BUILDING_EXE: "1"   # evita init_db() si aplicaste el parche
        run: pyinstaller app.py --name "HealthSystem" --onefile --noconfirm --clean --add-data "templates;templates" --add-data "static;static" --hidden-import sqlalchemy --hidden-import sqlalchemy.orm --hidden-import sqlalchemy.sql.default_comparator

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: HealthSystem-win
          path: dist/HealthSystem.exe
